* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    min-height: 100vh;
    background:linear-gradient(#020024,#090979,#00d4ff);
  }
  
  .contenedor-slider {
    margin: auto;
    width: 85%;
    max-width: 900px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    border: 5px solid white;
  }
  
  .slider {
    display: flex;
    width: 500%;
  }
  
  .slider__section {
    width: 100%;
  }
  
  .slider__img {
    width: 100%;
    height: 100%;
  }
  
  .btn-prev, .btn-next {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 50%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .btn-prev:hover, .btn-next:hover {
    background: white;
  }
  
  .btn-prev {
    left: 10px;
  }
  
  .btn-next {
    right: 10px;
  }
  